footer
  display flex
  justify-content center
  align-items center
  padding 10px
  margin-top auto
  text-align center

  .copyright
    font-size 12px

  .social-links
    display flex
    justify-content space-between
    align-items center

    a
      margin-right 10px

      &:last-child
        margin-right 0