body
  font-family Arial, sans-serif
  font-size 14pt

.light-theme
  background-color #f0f0f0
  color #212121

  a
    color #212121

.dark-theme
  background-color #212121
  color #f0f0f0

  a
   color #f0f0f0