// _stylus/_variables.styl

$bg-color-l = #c9c9c9
$bg-color-d = #444
$txt-color-d = #f0f0f0
$txt-color-l = #212121
$txt-color-h = #e68230
$primary-color = #333
$secondary-color = #666
$font-family = Arial, sans-serif
$font-size = 16px