body {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    min-height: 100vh; /* Минимальная высота на всю видимую область */
    margin: 0;
    width: 60%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.container {
    flex: 1; /* Позволяет контейнеру занимать все доступное пространство */
    width: 60%; /* Установим ширину на 60% */
    margin: 0 auto; /* Центрируем контейнер */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

/* Стили для цитаты */
.quote {
    text-align: center; /* Центрируем текст */
    font-style: italic; /* Курсив */
    margin: 40px auto; /* Добавим отступ сверху и снизу */
    font-size: 1.5em; /* Увеличим размер шрифта */
}

/* Стили для футера */
footer {
    text-align: center; /* Центрируем текст футера */
    padding: 10px; /* Подушка для футера */
}
