@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --bg-color: #212121;
    --text-color: #ffffff;
    --accent-color: #888;
    --gradient-1: #ff3d00;
    --gradient-2: #00b0ff;
    --gradient-3: #00e676;
    --gradient-4: #ffd600;
    --eye-color: var(--text-color); /* или любой другой цвет */
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a; /* Темный фон */
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 140px;
    height: 100px;
}

.eye {
    position: absolute;
    top: 0;
    left: 0;
}

.eyelid {
    transform: translateY(-100%);
    transition: transform 0.15s ease-in-out;
}

.iris, .pupil, .glass-effect {
    transition: transform 0.3s ease-out;
}

.pupil {
    transition: r 0.3s ease-out, transform 0.3s ease-out;
}

.eye-shine {
    mix-blend-mode: screen;
}
