@font-face {
  font-family: 'Tabler Icons';
  src: url("https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.woff2") format('woff2');
  src: url("https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.woff") format('woff');
}
*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
  nav ul li a {
    font-size: 16pt;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  nav ul li a {
    font-size: 14pt;
    padding: 5px;
  }
}
body {
  background: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  color: #212121;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body.dark-theme {
  background: #212121;
  color: #fff;
}
body.light-theme {
  background: #f0f0f0;
  color: #333;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  width: 60vw;
  margin: 0 auto;
}
nav .logo {
  font: bold 20pt Dancing Script, sans-serif;
  margin-right: 20px;
  flex: 0 0 auto;
}
nav i {
  font-size: 18pt;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  color: #ccc;
}
nav .toggle-theme {
  background: unset;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
nav .toggle-theme i {
  color: inherit;
}
nav .toggle-theme i.ti-moon:hover {
  color: #6981ec;
}
nav .toggle-theme i.ti-sun {
  color: #f0f0f0;
}
nav .toggle-theme i.ti-sun:hover {
  color: #ecd869;
}
blockquote {
  font: bold 36pt Playfair Display, serif;
  text-align: center;
  margin: auto;
  padding: 1rem;
  width: 75%;
  color: inherit;
}
blockquote.dark-theme {
  color: #f0f0f0;
}
blockquote.light-theme {
  color: #212121;
}
blockquote .quote-author {
  font-size: 1.5rem;
  color: #666;
  margin-top: 0.5rem;
}
blockquote .quote-author.dark-theme {
  color: #aaa;
}
blockquote .quote-author.light-theme {
  color: #666;
}
.animate-out {
  animation: fadeOut 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.animate-in {
  animation: fadeIn 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: transparent;
  text-align: center;
  color: #fff;
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
