@font-face
  font-family 'Tabler Icons'
  src url('https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.woff2') format('woff2')
  src url('https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.woff') format('woff')

*, ::after, ::before
  box-sizing border-box

*
  margin 0
  padding 0
  text-decoration none

@media (max-width: 768px)
  nav
    ul
      li
        a
          font-size 16pt
          padding 10px

@media (max-width: 480px)
  nav
    ul
      li
        a
          font-size 14pt
          padding 5px

body
  background #f0f0f0
  height 100vh
  overflow hidden
  color #212121
  max-width 1250px
  margin 0 auto

  &.dark-theme
    background #212121
    color #fff

  &.light-theme
    background #f0f0f0
    color #333

nav
  padding .5rem 3rem
  display flex
  justify-content flex-start
  align-items center

  .logo
    font bold 20pt Dancing Script, sans-serif
    margin-left 0
    margin-right 20px

  i
    font-size 18pt

  ul
    flex-grow 1
    list-style none
    margin 0
    padding 0
    display flex
    justify-content flex-end

  li
    margin-right 10px
    display flex
    justify-content center
    align-items center

    &:last-child
        margin-right 0

  a
    color inherit
    text-decoration none
    display flex
    align-items center
    height 100%

    &:hover
      color #ccc

  .toggle-theme
    background unset
    border none
    padding 0.5rem 1rem
    font-size 1rem
    cursor pointer

    i
      color inherit

      &.ti-moon:hover
        color #6981ec

      &.ti-sun
        color #f0f0f0
        &:hover
          color #ecd869

i::before
  font-variant-numeric unset

blockquote
  font 700 24pt Playfair Display, serif
  text-align center
  margin 0 auto
  padding 1rem
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 50%
  height 100vh
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  color inherit

  &.dark-theme
    color #fff

  &.light-theme
    color #333

  .quote-text
    &.light-theme
      color #333

  .quote-author
    font-size 1.5rem
    color #666
    margin-top 0.5rem

    &.dark-theme
      color #aaa

    &.light-theme
      color #666

.animate-out
  animation fadeOut 1s cubic-bezier(0.4, 0, 0.2, 1) forwards

.animate-in
  animation fadeIn 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards

@keyframes fadeOut
  to
    opacity 0

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
 
footer
  position absolute
  bottom 0
  left 0
  width 100%
  background transparent
  padding .1rem
  text-align center
  color #fff